#headimg{

    position: relative;
    height: 200px;
    width: 50%;
    left: 25%
}
#headimg2{
    position: relative;
    z-index: 1;
    right: 14%
}
header{
    position: sticky;
    width: 100%;
    height: 200px;

   
}
body{
    background-image: url(https://r1.ilikewallpaper.net/ipad-wallpapers/download/9769/Minecraft-diamonds-ipad-wallpaper-ilikewallpaper_com.jpg)

}
.inst{
    font-size: 24pt;
    color: darkslateblue;
    font-family: fantasy;
    background-color: antiquewhite;
    padding: 40px 0 40px 0;
    position: relative;
    text-align: center;
    border: 5px solid;
    border-color: rgb(90,230,243);
    border-radius: 15%;
    width: 1500px;
    left: 10%;
    margin-top: 25px;
    letter-spacing: .5px
}
.stats{
    font-size: 24pt;
    color: darkslateblue;
    font-family: fantasy;
    background-color: antiquewhite;
    padding: 40px 0 40px 0;
    position: relative;
    text-align: center;
    border: 5px solid;
    border-color: rgb(90,230,243);
    border-radius: 15%;
    width: 1500px;
    left: 10%;
    margin-top: 25px;
}
#alex{
    position: relative;
    right: 15%;
}
#creeper{
    position: relative;
    bottom: 50px
}
.game{
    margin: 20px 0 40px 0;
}